* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  .home,
  .resume,
  .contact {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
  /* .resume {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  } */
  /* .resume-container {
    width: 800px;
    display: flex;
    height: 90vh;
    align-items: center;
  } */
  .resume-embed {
    width: 100vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
  }
  .connect-container {
    background: url('/src/Images/iSki.jpg') center center/cover no-repeat;
    height: 100vh;
    width: 100vw;
  }

  .connect-container .social {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    align-items: center;
    padding: 10px;
  }

  .connect-container ul {
    list-style: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 100px;
  }

  .connect-container .social li {
    display: inline;
    padding: 20px;
  }
  .connect-container a {
    color:skyblue;
  }
  .connect-container a:hover {
    font-size: x-large;
    color: skyblue
  }

