* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  .home,
  .resume,
  .contact {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
  /* .resume {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  } */
  /* .resume-container {
    width: 800px;
    display: flex;
    height: 90vh;
    align-items: center;
  } */
  .resume-embed {
    width: 100vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
  }

  .connect-container .social{
    margin-left: auto;
    width: 50%;
    border: 3px solid red;
    padding: 10px;
    float: right;

  }

  .connect-container .direct{
    margin-right: auto;
    width: 50%;
    border: 3px solid red;
    padding: 10px;
    float: left;

  }